.header{
  text-decoration-line: underline;
  color:red;
  font-family: 'Courier New', Courier, monospace;
}
.image{
  width:50%;
  padding-left: 50px;
  padding-right:50px;
  float:right;
}
.WelcomeText{
  background-color: rgb(200, 0, 0);
  color:white;
  border:none;
  height: 36px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition:opacity 0.15s;
}
.button{
  background-color: white;
  border-color:rgb(0, 110, 255);
  border-style: solid;
  border-width: 1px;
  color:rgb(0, 110, 255);
  height: 36px;
  width: 62px;
  cursor:pointer;
  border-radius: 2px;
  transition:background-color 0.15s,color 0.15s;
}